:root {
    --cor-primaria: #ffffff;
    --cor-secundaria: #000000;
    /*--cor-terciaria: #22D4FD;*/

    --fonte: 'Courier New', monospace;

    --fonte-tamanho-primario: 2.25rem;
    --fonte-tamanho-secundario: 1.5rem;
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

header {
    padding: 3% 0 0 15%;
}

.menu {
    display: flex;
    gap: 80px;
}

.menu__link {
    color: var(--cor-secundaria);
    font-family: var(--fonte);
    font-size: var(--fonte-tamanho-secundario);
    font-weight: 600;
    text-decoration: none;
}

.apresentacao {
    display: flex;
    align-items: flex-start;;
    padding: 10% 2% 10% 15%;
    
}

.apresentacao__imagem {
    width: 50%;
}

.apresentacao__imagem__sobremim {
    width: 50%;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-family: var(--fonte);
    font-size: var(--fonte-tamanho-primario);
}

.apresentacao__conteudo__texto {
    font-family: var(--fonte);
    font-size: var(--fonte-tamanho-secundario);
}

.apresentacao__conteudo__redes {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.apresentacao__conteudo__redes__link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    text-align: center;
    border: 2px solid var(--cor-secundaria);
    width: 50%;
    padding: 21.5px 0;
    border-radius: 8px;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte);
    font-weight: 600;
}

.apresentacao__conteudo__redes__link:hover {
    background-color: #000;
    color: #ffffff;
}

.apresentacao__conteudo__redes__link:hover .icones {
    filter: invert(1)
}

.apresentacao__conteudo__redes__subtitulo {
    font-family: var(--fonte);
    font-size: var(--fonte-tamanho-secundario);
    font-weight: 400;
}

footer {
    text-align: center;
    color: var(--cor-primaria);
    background-color: var(--cor-secundaria);
    padding: 24px;
    font-size: var(--fonte-tamanho-secundario);
    font-weight: 400;
    font-family: var(--fonte);
}

@media (max-width: 1200px) {
    header {
        padding: 10%;
        
    }
    .menu {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
    .apresentacao {
        flex-direction: column-reverse;
        padding: 10% 15% 10% 15%;
    }
    .apresentacao__conteudo {
        width: 100%;
        text-align: center;
    }
    .apresentacao__imagem {
        width: 100%;
        margin-left: 5%;
    }
    .apresentacao__conteudo__redes__link {
        gap: 3px;
    }
    .apresentacao__imagem__sobremim {
        width: 100%;
        margin-left: 5%;
    }
}